<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <meta name="Access-Control-Allow-Origin" content="*" />-->
    <!--    <meta name="Access-Control-Allow-Headers" content="*" />-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
</head>
<body>
<!--<ul class="post">-->

<!--</ul>-->

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody class="post"></tbody>
</table>
<script>
    fetch('http://localhost:8080/products')
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            console.log(data);
            let list = document.querySelector('.post');
            let key;

            for (key in data) {
                list.innerHTML +=
                    `<tr class="post">
                <th>${data[key].id}</th>
                <th>${data[key].name}</th>
                <th>${data[key].price}</th>
            </tr>`
            }
        });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


</body>
</html>