<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody id="table"></tbody>
</table>
<script>
    fetch('http://localhost:8080/products')
        .then(response => {
            response.json().then(data => {
                console.log(data);
                if (data.lenght > 0) {
                    let temp = "";

                    data.forEach(u =>{
                        temp  += "<tr>";
                        temp  += "<td>"+u.id+"</td>";
                        temp  += "<td>"+u.name+"</td>";
                        temp  += "<td>"+u.price+"</td></tr>";

                    })
                    document.getElementById("table").innerHTML = temp;
                }
            }
        }



</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


</body>
</html>