<!DOCTYPE html>
<html lang="en">
<head>
    <httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
    </httpProtocol>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul class="post">
    <li class="post">
        <h1>Post</h1>
        <p>Of course not EVERY change to your API is as simple as splitting a string
            or merging two strings. But it’s surely not impossible to come up with a
            set of transforms for most scenarios, right?</p>
        <span>15.06.20</span>
    </li>
</ul>
<script src="JSON.js"></script>
</body>
</html>