<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="mainJS.css">
</head>
<body>
<div class="block"></div>

<p class="text">
    The @RestController annotation enables the handler methods in this controller to be exposed as RESTful APIs, e.g. reading JSON data from the request and including JSON data to the response. And this REST controller still takes advantages of Spring’s dependency injection (an instance of ProductService is autowired).
    Let’s see how to implement RESTful API for each CRUD operation in the next sections.
</p>
<button class="btn">Solution</button>

<ul class="list">
    <li>123</li>
</ul>

<input type="text" class="text1">
<button class="btn1">Add</button>

<script src="lesJS.js"></script>
</body>
</html>