<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<frome class="square">
    <div>
        <span>a</span>
        <input type="number" class = "a">
    </div>
    <br>
    <div>
        <span>b</span>
        <input type="number" class = "b">
    </div>
    <br>
    <div>
        <span>c</span>
        <input type="number" class = "c">
    </div>
    <br>
    <button class="push">Solution</button>
</frome>
<h2 class = "result">
    D = <span class="D">NULL</span>
    X1 = <span class="X1">NULL</span>
    X2 = <span class="X2">NULL</span>
</h2>
<!--<ul class="list">-->

<!--</ul>-->
<script src="user.js"></script>
</body>
</html>